h2 {
 color:blue
}

p {
 color:green
}

body {
 /* font-family: 'Open Sans', sans-serif; */
 font-family: 'Titillium Web', sans-serif;
}

footer {
 background-color: #dddddd;
 padding: 10px 10px 0 0;
}

nav {
 display: block;
 background-color: #dddddd;
}
